*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main_div{
    height: 100vh;
    width:100%;
    background-color: rgb(41, 41, 194);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box_div{
    height: 80%;
    width: 25%;
    background-color: rgb(245, 227, 227);
    border-radius: 5%;
    box-shadow: -10px -10px 9px #ccddff;
}
h1{
    color: whitesmoke;
    background-color: violet;
    font-size: 40px;
    font-family: "Scheherazade New", serif;
    font-weight: bold;
}
input{
    text-align: center;
    height: 30px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-size: 500;
    border-bottom: 2px solid #8566aa;
    outline: none;
    top: 10px;
}
.add{
    width: 40px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border-color: transparent;
    background-color:#8566aa ;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.contentDiv {
  /* background-color: violet; */
  margin-top: 2%;
  padding: 0.2%;
  overflow: auto;
}
.mainContent {
    display: grid;
    grid-template-columns: 78% 1fr;
    height: 40px;
    margin: 2%;
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
    padding: 3px;
    
  }
  .realText {
    /* background-color: violet; */
    text-align: center;
    padding-top: 1%;
    padding: 2%;
  }
  .task {
    /* background-color: yellowgreen; */
    display: grid;
    grid-template-columns: 45% 45%;
    text-align: center;
    font-size: 1.5rem;
    column-gap: 5%;
    padding: 4%;
    padding-top: 2%;
    margin-left: 3%;
  }
  .task button {
    background: none;
    border: none;
  }
  .task i {
    cursor: pointer;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    font-size: 1.5rem;
  }
  .fa-edit {
    color: rgb(47, 255, 92);
  }
  .fa-trash-alt {
    color: red;
  }
  