*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main_div{
    height: 100vh;
    width:100%;
    background-color: rgb(41, 41, 194);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box_div{
    height: 80%;
    width: 25%;
    background-color: white;
    border-radius: 5%;
    box-shadow: -10px -10px 9px #ccddff;
}
h1{
    color: whitesmoke;
    background-color: violet;
    font-size: 40px;
    font-family: "Scheherazade New", serif;
    font-weight: bold;
}
input{
    text-align: center;
    height: 30px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-size: 500;
    border-bottom: 2px solid #8566aa;
    outline: none;
    top: 10px;
}
.add{
    width: 40px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border-color: transparent;
    background-color:#8566aa ;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
